body {
    margin: 0;
    font-family: 'Viga', sans-serif;
}

header {
    position: relative;
    height: 100vh;
    background-image: url('/assets/img/header_bg.png');
    background-size: cover;
    background-position: center;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
} */

h1 {
    font-size: 96px;
    margin: 0;
    z-index: 1;
}

h3 {
    font-size: 28px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 8px;
    color: rgba(176, 141, 87, 1);
}

.header_sub_title {

    font-size: 24px;
    margin-top: 16px;
    z-index: 1;
}

.header_link_shows {
    font-family: 'PT Sans', sans-serif;
    font-size: 28px;
    margin-top: 88px;
    padding: 12px 24px;
    background-color: rgba(176, 141, 87, 0.7);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    z-index: 1;
    cursor: pointer;
}

.header_link_shows:hover {
    background-color: rgba(176, 141, 87, 1);
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    position: absolute;
    top: 20px;
    left: 80px;
    right: 80px;
}

.header_nav_logo {
    height: 120px;
    width: 120px;
    filter: brightness(0) invert(1);
}

.header_nav_links {
    display: flex;
    align-items: center;
    gap: 32px;
    height: 80px;
}

.header_nav_links a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-family: 'pt sans', sans-serif;
}

.header_nav_links a:hover {
    text-decoration: underline;
    color: rgba(176, 141, 87, 1);
}

.header_nav_links img:hover {
    filter: drop-shadow(5px 5px 4px rgba(176, 141, 87, 10));
}

.header_nav_links img {
    height: 36px;
    width: 36px;
    object-fit: contain;
}

.content_links_section {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-around;
    background-color: #1C0907;
}

.content_links_section a {
    text-decoration: none;
}

.content_links_section img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 25px;
}

.section_ticket {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
    color: white;
    background-color: #681F19;
}

.section_ticket img {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.section_ticket_info {
    flex: 1;
    padding: 24px;
    height: calc(300px - 48px);
}

.section_ticket_info p {
    font-size: 18px;
}

.subsection_ticket_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
}

.subsection_ticket_btn a {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 48px;
    background-color: #AD8643;
    text-decoration: none;
    color: white;
    font-size: 24px;
    margin: 0 24px;
}

.border {
    height: 250px;
    background-color: #C4865F;
    width: 6px;
}

.section_slogan {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #AD8643;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 36px;
    padding: 80px 12px;
}

.section_slogan p {
    text-align: center;
}

.section_video {
    background-image: url('/assets/img/concert_video.png');
    background-size: cover;
    background-position: center;
    height: 1000px;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1C0907;
    height: 350px;
}

.footer_section_info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    color: #AD8643;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    padding: 12px
}

.footer_section_socialmedia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
    width: 50%;
    gap: 50px;
    padding: 12px;
}

.footer_social_icons img {
    height: 48px;
    width: 48px;
    object-fit: contain;
}

.footer_social_icons {
    display: flex;
    justify-content: center;
    gap: 48px;
}

input {
    height: 36px;
    padding: 6px;
    border: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    flex: 1;
}

input::placeholder {
    color: #AD8643;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    padding: 6px;
}

input:focus {
    outline: none;
    border: none;
}

button {
    height: 48px;
    width: 250px;
    background-color: #AD8643;
    color: white;
    border: none;
    cursor: pointer;
}

.subscriber_input {
    display: flex;
    align-items: center;
}